

@font-face {

    /* specify font family here */
    font-family: 'CinzelBlack';
    /* make sure to paste font file in src folder */
    src: url('./Cinzel-Black.ttf') format('truetype');
    /* url('./my-font.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
}

@font-face {

    /* specify font family here */
    font-family: 'CinzelBold';
    /* make sure to paste font file in src folder */
    src: url('./Cinzel-Bold.ttf') format('truetype');
    /* url('./my-font.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
}
@font-face {

    /* specify font family here */
    font-family: 'CinzelExtraBold';
    /* make sure to paste font file in src folder */
    src: url('./Cinzel-ExtraBold.ttf') format('truetype');
    /* url('./my-font.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
}
@font-face {

    /* specify font family here */
    font-family: 'CinzelMedium';
    /* make sure to paste font file in src folder */
    src: url('./Cinzel-Medium.ttf') format('truetype');
    /* url('./my-font.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    /* specify font family here */
    font-family: 'CinzelRegular';
    /* make sure to paste font file in src folder */
    src: url('./Cinzel-Regular.ttf') format('truetype');
    /* url('./my-font.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    /* specify font family here */
    font-family: 'CinzelSemiBold';
    /* make sure to paste font file in src folder */
    src: url('./Cinzel-SemiBold.ttf') format('truetype');
    /* url('./my-font.woff') format('woff'); */
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url('./pattern_bg.jpg');
    background-size: contain;
    position: relative;
    padding-bottom: 1rem;
    min-height: 100vh;
    
}

@keyframes blur {
    50% {
        filter: blue(2px);
    }
}

.fade {
    /* background-color: rgb(0,0,0,0.5) */
    filter: blur(2px) ;
    
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid whitesmoke; */
}

:root {
    --beige: #fffde7;
    --maroon: maroon;
}

/* IMAGES */

img[alt*="siomai background"]{
    object-fit: contain;
    height: 100%;
    width: 100%;
    /* padding: 0px 30px 0px 30px; */
    /* background-color: #fffde7;; */

    /* background-color: maroon; */
    /* border-radius: 5px; */
}
img[alt*="promo-1"]{
    object-fit: contain;
    height: 100%;
    width: 100%;
    /* padding: 30px 30px 30px 30px; */
    /* background-color: #fffde7;; */
    background-color: maroon;
    border-radius: 3px;
}


img[alt*="home background"]{
    object-fit: contain;
    height: 100%;
    width: 100%;
    /* padding: 30px 30px 30px 30px; */
    /* background-color: #fffde7;; */
    background-color: maroon;
    border-radius: 3px;
}

img[alt*="logo"]{
    object-fit: contain;
    width: 150px;
    margin-top: 8px;
    /* border: 1px solid white; */
}

img[alt*="drawer"]{
    height: 25px;
    width: 25px;
    /* border: 1px solid white; */
}

img[alt*="drawer"]:active {
    transform: scale(0.8);
    transition: 0.2s;
}

img[alt*="drawer"]:hover {
    cursor: pointer;
}
img[alt*="close"]:active {
    transform: scale(0.8);
    transition: 0.2s;
}

img[alt*="close"]{
    /* flex: 1; */
    /* background-color: yellow; */
    height: 25px;
    width: 25px;
    /* position: absolute; */
    right: 20px;
    top: 20px;
    /* border:k 1px solid white; */
}


img[alt*="close"]{
    cursor: ;
}


/* CONTAINERS  */

.main-content {
    flex: 1;
    transition: margin 0.2s;
    transition: filter 0.2s;
}

#header {
    transition: filter 0.2s;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.home-bg-cont-2 {
    flex-direction: column;
    display: flex;
    /* padding: 0px 30px 0px 30px; */
    /* background-color: maroon; */
}
.main-container {
    display: flex;
    flex: 1;

}
.logo-img-cont {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* border: 1px solid white; */
}

.hook-container {
    /* display: flex; */
    background-color: none;
    position: relative;
    /* flex-direction: column; */
    padding: 50px 30px 50px 30px;
    /* row-gap: 15px; */
}


/* HOOK CONTAINER */

.home-bg-cont-1 {
    position: relative;
    /* background-color: maroon; */
    /* display: flex; */
}

#hook-pos {
    position: absolute;
    top: 5px;
    left: 10px;

}


.main-hook-text {
    font-family: "CinzelRegular";
    /* color: maroon; */
    /* color: black; */
    color: white;
    font-size: 14px;
}

.product-hook-text {
    margin-top: 8px;
    font-family: "CinzelSemiBold";
    /* color: maroon; */
    color: white;
    font-size: 36px;
    /* inline-size: 1clm; */
    

    line-height: 1;
    
}

/* BUTTONS */

.button-template {
    background: none;
    height: 35px;
    border-radius: 3px;
    font-size: 12px;
    font-family: "CinzelSemiBold";
    color: white;
    width: 120px;
    border: none;
    background-color: maroon;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border-width: 2px; */
    /* border-color: ; */
    
}

.button-template:hover {
    cursor: pointer ;
    background-color: rgb(102, 0, 0);
}

#order-now {
    margin-top: 20px;
    
}



.logo-sub-txt {
    color: white;
    /* text-align: center; */
    margin-left: 5px;
    font-size: 10px;
    font-family: "CinzelMedium";
}



/* HEADER */
.header {
    transition: margin-left 0.2s;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* background-color: maroon; */
    padding: 10px 20px 10px 20px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}



.logo-text {
    /* color: red; */
    color: white;
}



.img-main-txt  {
    /* position: absolute; */
    color: maroon;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 2rem;
    top: 150px;
    left: 20px;

}

/* flex properties */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* PROMO SECTION */
.home-bg-cont-3 {
    row-gap: 15px;
    padding: 30px;
    /* background-color: ; */
    /* position: relative; */

}

.home-img-cont {
    row-gap: 15px;
    padding: 30px;
    /* background-color: ; */
    /* position: relative; */

}

.special-promo-cont {
    font-size: 24px;
    text-align: center;
    color: var(--beige);
}

.promo-header-text {
    
    font-family: "CinzelSemiBold";
    margin-bottom: 10px;
}


.promo-sub-text {
    padding-top: 10px;
    font-family: "CinzelMedium";
    /* color: var(--beige); */
    font-size: 20px;
    
}


.special-promo-cont {
    /* position: absolute; */
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    bottom: 1px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    /* height: 150px; */
    background-color: maroon;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 5px solid maroon; */
    flex: 1;

}

/* footer */

footer {
    bottom: 0   ;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 2rem;
    background-color: black;
}

.footer-text-wrapper {
    justify-content: center;
    align-items: center;
    height: 100%
}


.footer-text {
    text-align: center;
    font-family: 'CinzelSemiBold';
    font-size: 10px;
    color: var(--beige)
    
}
.footer-sub-text {
    text-align: center;
    font-family: 'CinzelRegular';
    font-size: 8px;
    color: var(--beige)
    
}



.main-hook-text-2 {
    line-height: 1;

    font-size: 36px;
    color: white;
    font-family: 'CinzelRegular';

    
}


/* sidebar navigation */
.content-side-bar-wrapper {
overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid green;
    align-items: stretch;
}


.close-drawer-btn-container {
    padding: 20px 20px 0px 0px;
    display: flex;
    /* background-color: yellow; */
    align-self: flex-end;

    /* padding: 20px 30px 0px 30px; */
}

.side-bar-container {
    /* padding: 20px 30px 0px 30px; */
    filter: unset;
    height: 100%;
    transition: 0.5s;
    position: fixed;
    /* stays in place */
    z-index: 1;
    /* stays on top */
    width: 0px;
    background-color: black;
    overflow-x: hidden;
    /* remove horizontal scrolling */
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    right:-1px;
}

.visible{
    /* removes margin-right negative */
    margin-right: 0px;
}


.hook-text-wrapper-reposition {
    transition: 0.5s;
    /* transform: scale(0.7); */
    bottom: 350px;
}

nav {
    /* padding: 30px; */
    padding: 10px 30px 0px 30px;
    /* border: 1px solid red; */
}




a {
    color: white;
    font-family: "CinzelRegular";
    font-size: 24px;
}

a:active {
    
    transform: scale(0.8);
    transition: 0.2s;
    color: rgb(143, 143, 143);
}

a:hover {
    cursor: pointer;
}

    

.not-visible {
    display: none;
}


/* MENU */

.menu-bg-cont-1 {
    padding: 30px 10px 30px 10px;
    background-image: url('./beige_pattern.jpg');
    background-size:contain;
    /* background-color: var(--maroon); */
    display: flex;
    flex-direction: column;

}

.menu-section-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img-wrapper {
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.siomai-menu-text {
    color: black;
    font-size: 24px;
}

.menu-siomai-container,
.menu-siopao-container{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 30px;
    display: flex;
    flex:1;
    flex-wrap: wrap;
}

.menu-img-wrapper:hover {
    cursor: pointer ;
    transform: translateY(-5px) ;
    /* transform: scale(1.02) ; */
    transition: 0.2s;
}

/* CONTACT */


.contact-bg-cont-1 {
    padding: 30px 20px 30px 20px;
    /* background-image: url('./10.jpg'); */
    /* background-size:contain; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
}

